/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 12px;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.content {
    padding: 30px;
    background: #f1f3fa;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

/* Portlet */
.portlet {
    background: #fff;
    padding: 20px;
    position: relative;
    z-index: 1;
    border-style: solid;
    border-color: steelblue; /*#007bff;*/
}

    .portlet::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 59px;
        background: steelblue;
        z-index: -1;
    }
    .portlet.portlet-gray {
        background: #f7f7f7;
    }

    .portlet.portlet-bordered {
        border: 1px solid #eee;
    }

/* Portlet Title */
.portlet-title {
    padding: 0;
    min-height: 40px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;

   
}

.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    color:#fff;
}

    .caption i {
        color: #777;
        font-size: 15px;
        font-weight: 300;
        margin-top: 3px;
    }

.caption-subject {
    color: #666;
    font-size: 16px;
    font-weight: 600;
}

.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
}
.portlet-title #h6 {
    color: #fff;
}
/* Actions */
.actions {
    float: right;
    display: inline-block;
}

    .actions a {
        margin-left: 3px;
    }

    .actions .btn {
        color: #666;
        padding: 3px 9px;
        font-size: 13px;
        line-height: 1.5;
        background-color: #fff;
        border-color: #ccc;
        border-radius: 50px;
    }

        .actions .btn i {
            font-size: 12px;
        }

        .actions .btn:hover {
            background: #f2f2f2;
        }

/* Inputs */
.inputs {
    float: right;
    display: inline-block;
    padding: 4px 0;
    margin-top: -10px;
}

.input-inline {
    width: 240px;
    display: inline-block;
    vertical-align: middle;
}

/* Btn Circle */
.actions .btn.btn-circle {
    width: 28px;
    height: 28px;
    padding: 3px 7px;
    text-align: center;
}

    .actions .btn.btn-circle i {
        font-size: 11px;
    }

