@model LoginViewModel

@{
    Layout = "_LayoutBlank";
}

<div class="pt-5">
    <h1 class="text-center"> Login </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card card-body">
                    <div asp-validation-summary="All"></div>
                    
                    <form id="submitForm" action="#" method="post" data-parsley-validate="" data-parsley-errors-messages-disabled="true" novalidate="" _lpchecked="1">
                        <input type="hidden" name="_csrf" value="7635eb83-1f95-4b32-8788-abec2724a9a4">
                        <div class="form-group required">
                            <lSabel for="username"> Enter your Name / Email </lSabel>
                            <input asp-for="Email" class="form-control text-lowercase" type="text" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group required">
                            <label class="d-flex flex-row align-items-center" for="password">
                                Enter your Password
                            </label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4 mb-4">
                            <div class="custom-control custom-checkbox">
                                <input asp-for="RememberMe" type="checkbox" />
                                <label clss="custom-control-label" for="remember-me"> @Html.DisplayNameFor(m => m.RememberMe) ? </label>
                            </div>
                        </div>
                        <div class="form-group pt-1">
                            <button class="btn btn-primary btn-block" type="submit"> Log In </button>
                        </div>
                    </form>
                    @*<p class="small-xl pt-3 text-center">
                        <span class="text-muted"> Not a member? </span>
                        <a href="#"> Sign up </a>
                    </p>*@
                </div>
            </div>
        </div>
    </div>
</div>



